
*{
    box-sizing:border-box ;
    color:#fff;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
.card{
    background-color: black;
    height: 580px;
    padding: 5% 5% ;
    text-align: center;
    width: 33%;
    margin:1% 0;
}
.card-cont{
    transition: transform 0.4s;
}

.card-cont:hover{
    transform: translateY(-10px)
}
.card-img{
    width: 180;
}
.card-ini{
    font-size: 25px;
    font-weight: 600;
    margin-top: 10px;
}
.card-desc{
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    margin-top: 15px;
}
.card-cta{
    margin: 3%;
    background-color: transparent;
    border: 2px solid #fff;
    cursor: pointer;
    margin-top: 45px;
    transition: all .4s;
}
.card-cta:hover{
   
    background-color: cornflowerblue;
    border-color: darkslateblue;

}
.card-cta-label{
    padding: 0 48px;
    line-height: 48px;
    font-size: 15px;
    text-transform: uppercase;

}

